@model MyBlog.Models.Record
@using MyBlog.Models;
@using System.Web.Mvc;
@using System.Web.WebPages;

@{
    ViewBag.Title = "НеСидиДома: " + Model.Title;
    ViewBag.Action = "GetRecord";
    if (HttpContext.Current.User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_adminlayout.cshtml";
    }

    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    
}


<script src="~/Scripts/MicrosoftAjax.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="http://vk.com/js/api/share.js?91" charset="windows-1251"></script>
<style>
    .stationInfo {
        height: 150px;
        width: 250px;
    }
</style>

@using (Ajax.BeginForm("AddComment", "Record", new { idcomment = Model.Id_Record }, new AjaxOptions { UpdateTargetId = "targetajax" }))
{
    
    <div id="formrecord">
        <div class="headrecord">
            @Html.DisplayFor(model => model.Title)

        </div>


        <div class="display-field">
            @Html.Raw(Model.Text)

        </div>
        <div id="social">
            <script type="text/javascript" src="http://vk.com/js/api/share.js?91" charset="windows-1251"></script>


            <script type="text/javascript">
                document.write(VK.Share.button(false, { type: "custom", text: "<img src=\"http://vk.com/images/share_32.png\" width=\"20\" height=\"20\"  />" }));</script>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="For_Nevermind" data-lang="ru">Твитнуть</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

        </div>
        <div class="display-label">Дата публикации</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DateCreate)
        </div>
        @if (HttpContext.Current.User.IsInRole("Admin"))
        {
            <div class="display-label">Дата редактирования</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.DateEdit)
            </div>
 


       
        
        
        }
        <div id="canvas" style="height: 400px; width:400px;"></div>

        <p id="headercomment">Оставьте комментарий:</p>
        <div>
            <p>
                @Html.TextArea("textarea", new { style = "margin-left:30%;" })
            </p>

            <p>

                <button type="submit" class="btn btn-danger" style="width: 50%; height: 20px; margin-left: 30%; padding-top: 1px; font-family: Kelson">Добавить</button>
            </p>


        </div>

        @Html.Partial("_commentsview")

    </div>
    
}
@section scripts {
    <script type="text/javascript">

    $(document).ready(function () {
        GetMap();
    });

    // Функция загрузки
    function GetMap() {

        google.maps.visualRefresh = true;
        // установка основных координат
        var Moscow = new google.maps.LatLng(@ViewBag.GeoLong, @ViewBag.GeoLat);

        // Установка общих параметров отображения карты, как масштаб, центральная точка и тип карты
        var mapOptions = {
            zoom: 15,
            center: Moscow,
            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
        };

        // Встраиваем гугл-карты в элемент на странице и получаем объект карты
        var map = new google.maps.Map(document.getElementById("canvas"), mapOptions);

        // Настраиваем красный маркер, который будет использоваться для центральной точки
        //var myLatlng = new google.maps.LatLng(55.752622, 37.617567);

        //var marker = new google.maps.Marker({
        //    position: myLatlng,
        //    map: map,
        //    title: 'Станции метро'
        //});

        //// Берем для маркера иконку с сайта google
        //marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png')

        // Получаем данные
        $.getJSON('@Url.Action("GetData","Home")', function (data) {
  
            // Проходим по всем данным и устанавливаем для них маркеры
            $.each(data, function (i, item) {
                var marker = new google.maps.Marker({
                    'position': new google.maps.LatLng(item.GeoLong, item.GeoLat),
                    'map': map,
                    'title': 'Станции метро'
                });
              
                // Берем для этих маркеров синие иконки с сайта google
                marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')

                // Для каждого объекта добавляем доп. информацию, выводимую в отдельном окне
                var infowindow = new google.maps.InfoWindow({
                    content: "<div class='stationInfo'><h2>Станция " + item.PlaceName + "</h2><div><h4>Линия метро: "
                        + item.Line + "</h4></div><div><h4>Пассажиропоток: " + item.Traffic + " млн. человек</h4></div></div>"
                });

                // обработчик нажатия на маркер объекта
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });
            })
        });
    }
    </script>
}